<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <ion-img src="assets/icon/logo1.png" ></ion-img>
          </ion-col>
          <ion-col size="7">
            {{strings.notificationText}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item lines="none" *ngFor="let m of emails" class="email">
      <ion-row class="ion-align-items-center">
        <ion-col size="2" (click)="openDetails(m.notification_id,m.read)" class="ion-align-self-center">
          <div class="email-circle" [style.background]="m.color">
            {{ m.title | slice:0:1 }}
          </div>
        </ion-col>
        <ion-col size="8" (click)="openDetails(m.notification_id,m.read)">
          <ion-label [style.font-weight]="!m.read ? 'bold' : ''" class="ion-text-wrap ion-text-capitalize" color="dark" id="notificationLabel{{m.notification_id}}">
            {{ m.title.split('@')[0] }}
            <p class="excerpt" [innerHTML]="(m.message.length>80)? (m.message | slice:0:80)+'...':(m.message)">
              {{ (m.message.length>50)? (m.message | slice:0:50)+'...':(m.message) }}
            </p>
          </ion-label>
        </ion-col>
        <ion-col size="2" (click)="openDetails(m.notification_id,m.read)">
            <p class="createdDate">{{m.created_date}}</p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
