<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <ion-img src="assets/icon/logo1.png" ></ion-img>
          </ion-col>
          <ion-col size="7">
            Услуги
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="searchService()" placeholder="Поиск"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-item [routerLink]="['form',  item.service_id ]" routerLinkActive="active" *ngFor="let item of items">
      <ion-label>
        {{item.service_label}}
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

