<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/tabs/service"></ion-back-button>
    </ion-buttons>
    <ion-title>Форма</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form [formGroup]="formG" (ngSubmit)="saveDetails()">
        <ion-item class="ion-margin-bottom" *ngFor="let item of formInputs" [ngClass]="{'has-error': formG.controls[item.control_name].errors}">
          <ion-label >{{item.input_label}}</ion-label>
          <ion-input type="{{item.input_type}}" formControlName="{{item.control_name}}">{{item.control_name}}</ion-input>
        </ion-item>


        <ion-item class="ion-float-right" lines="none">
          <ion-button color="primary"  type="submit">Save Details</ion-button>
          <ion-button color="primary" (click)="onReset()">Reset Form</ion-button>
        </ion-item>
    </form>


  </div>
</ion-content>
