<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/tabs/service"></ion-back-button>
    </ion-buttons>
    <ion-title *ngFor="let item of itemsService">{{item.service_label}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="sendData()" [formGroup]="formG">
        <ion-item *ngFor="let item of formInputs" [ngClass]="{'has-error': formG.controls[item[0].control_name].errors}" class="ion-margin-bottom">
          <ion-label position="stacked">{{item[0].input_label}}</ion-label>
          <ion-input formControlName="{{item[0].control_name}}" type="{{item[0].input_type}}"></ion-input>
        </ion-item>

      <ion-item *ngFor="let arrayItem of formSelects" [ngClass]="{'has-error': formG.controls[arrayItem[0].control_name].errors}" class="ion-margin-bottom">
        <ion-label position="floating">{{arrayItem[0].select_label}}</ion-label>
        <ion-select  formControlName="{{arrayItem[0].control_name}}" placeholder="{{arrayItem[0].select_placeholder}}">
          <ion-select-option *ngFor="let optionItem of arrayItem[0].select_options" value="{{optionItem.id}}">{{optionItem.value}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngFor="let item of formFiles" [ngClass]="{'has-error': formG.controls[item[0].control_name].errors}" class="ion-margin-bottom">
        <ion-label position="stacked">{{item[0].file_label}}</ion-label>
        <ion-input (change)="uploadFile($event) " accept="{{item[0].file_accept}}" formControlName="{{item[0].control_name}}" multiple type="file"></ion-input>
      </ion-item>
      <ion-item *ngFor="let item of formTextarea" [ngClass]="{'has-error': formG.controls[item[0].control_name].errors}" class="ion-margin-bottom">
        <ion-label position="floating">{{item[0].textarea_label}}</ion-label>
        <ion-textarea formControlName="{{item[0].control_name}}" placeholder="{{item[0].textarea_placeholder}}"></ion-textarea>
      </ion-item>
     <div *ngIf="formInputs.length > 0">
        <ion-button [disabled]="formG.invalid" color="primary" expand="block" type="submit">Отправить</ion-button>
      </div>
    </form>
</ion-content>
