<ion-header>
  <ion-toolbar>
    <ion-title><ion-grid>
      <ion-row>
        <ion-col size="5">
          <ion-img src="assets/icon/logo1.png" ></ion-img>
        </ion-col>
        <ion-col size="7">
          {{QRText}}
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-content>
      <ion-text>{{QRIONText}}</ion-text>
      <ion-button (click)="openBarCodeScanner()" color="primary" expand="full">{{QRbuttonText}}</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col class="justify-align-center"  *ngIf="barCode">
        <ion-text><a href="{{barCode.text}}"> {{barCode.text}}</a></ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="justify-align-center"  *ngIf="productInformation">
        <ion-text>{{productInformation.product.product_name}} </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  </ion-content>

