<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <ion-img src="assets/icon/logo1.png" ></ion-img>
          </ion-col>
          <ion-col size="7">
            {{profileText}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-xl  class="ion-align-self-center">
        <ion-tab-button (click)="showIntro()">
          <img src="../../../assets/icon/icons8-replay-64.png">
          <p>{{reseeIntroText}}</p>
        </ion-tab-button>
      </ion-col>
      <ion-col size="6" size-xl  class="ion-align-self-center">
        <ion-tab-button (click)="(resetPasswordUniver())">
          <img src="../../../assets/icon/icons8-password-100.png">
          <p>{{resetpasswordUniverText}}</p>
        </ion-tab-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" size-xl  class="ion-align-self-center">
        <ion-tab-button (click)="logout()">
          <img src="../../../assets/icon/icons8-logout-100.png">
          <p>{{logoutText}}</p>
        </ion-tab-button>
      </ion-col>
      <ion-col size="6" size-xl  class="ion-align-self-center">
        <ion-tab-button (click)="logout()">
          <img src="../../../assets/icon/icons8-logout-100.png">
          <p>{{changelanguageText}}</p>
        </ion-tab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
