ion-content {
  --padding-top: 10%;


  --background: #F5F5F5;

}

#ion-tab-button {
  width: 100px;
  height: 100px;
}
button1 {
  width: 100px;
  height: 100px;
}


img {
  width: 60%;
  height: 60%;
}

ion-align-self-center {
  margin-top: 50px;
}

p {
  font-family: Comic Sans MS;
  font-size: 12px;
  text-align: center;
}

