<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
<!--      <ion-label>Главная</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="service">
      <ion-icon name="list-outline"></ion-icon>
<!--      <ion-label>Услуги</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="document">
      <ion-icon name="document-text-outline"></ion-icon>
<!--      <ion-label>Документы</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="info">
      <ion-icon name="barcode-outline" ></ion-icon>
      <!--      <ion-label>Информация</ion-label>-->
    </ion-tab-button>


    <ion-tab-button tab="notification">


        <ion-icon class="asd" name="notifications-outline"></ion-icon>

        <ion-badge class="notifications-badge" id="notifications-badge" color="danger" [class.ion-page-invisible]= "(countNotifications>0) ?  '':'tubsPage' " >
          {{countNotifications}}
        </ion-badge>

      <!--      <ion-label>Уведомления</ion-label>-->
    </ion-tab-button>


    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
<!--      <ion-label>Профиль</ion-label>-->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
