<ion-header>
  <ion-toolbar style="background-color:#3193f5; text-align: center" color="#325daa">
    <ion-title><strong>Smart ATU</strong></ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <div class="content-box">

  <form (ngSubmit)="login()" [formGroup]="credentials">
   <p class="imglogo"><img  src="./../../../assets/icon/logo3.png"></p>
    <div class="input-group">
      <p class="register-text">{{strings.authFormText}}</p>
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">Email {{strings.emptyText}}</span>
        <span *ngIf="email.errors?.email">Email {{strings.incorrectText}}</span>
      </div>
      <ion-item>
        <ion-input formControlName="password" placeholder="{{strings.passwordText}}" type="password"></ion-input>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">{{strings.passwordText}} {{strings.emptyText}}</span>
        <span *ngIf="password.errors?.minlength">Пароль должен состоять минимум из 6 символов</span>
      </div>

      <ion-grid>
        <ion-row>
          <ion-col size="6" offset="3"  class="ion-align-self-center">

              <ion-button  [disabled]="!credentials.valid" expand="block" size="default" type="submit">{{strings.loginbuttonText}}</ion-button>

          </ion-col>
        </ion-row>
      </ion-grid>

         <!--<ion-button type="button" size="small" expand="block" (click)="registerGo()" color="medium" fill="clear"> Забыли логин/пароль?</ion-button>-->
         <ion-button (click)="registerGo()" color="medium" expand="block" fill="clear" size="small" type="button">{{strings.createaccountText}}</ion-button>
    </div>



  </form>
    </div>
  </ion-content>

