<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Smart ATU</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <div class="content-box">

  <form (ngSubmit)="login()" [formGroup]="credentials">
   <p class="imglogo"><img  src="./../../../assets/icon/logo1.png"></p>
    <div class="input-group">
      <p class="register-text">Форма авторизации</p>
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">Email пустое</span>
        <span *ngIf="email.errors?.email">Email некорректное</span>
      </div>
      <ion-item>
        <ion-input type="password" placeholder="Пароль" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Пароль пустое</span>
        <span *ngIf="password.errors?.minlength">Пароль должен состоять минимум из 6 символов</span>
      </div>

      <ion-grid>
        <ion-row>
          <ion-col size="6" offset="3"  class="ion-align-self-center">

              <ion-button  size="default" type="submit" expand="block" [disabled]="!credentials.valid">Войти</ion-button>

          </ion-col>
        </ion-row>
      </ion-grid>

         <!--<ion-button type="button" size="small" expand="block" (click)="registerGo()" color="medium" fill="clear"> Забыли логин/пароль?</ion-button>-->
         <ion-button type="button" size="small" expand="block" (click)="registerGo()" color="medium" fill="clear"> Создать аккаунт</ion-button>
    </div>



  </form>
    </div>
  </ion-content>

