<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Регистрация</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="register()" [formGroup]="credentials">
    <div class="input-group">
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" placeholder="iin" formControlName="iin"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="telephone" formControlName="telephone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Пароль" formControlName="password"></ion-input>
      </ion-item>
    </div>

    <ion-button type="submit" expand="block" [disabled]="!credentials.valid">Зарегистрироваться</ion-button>

  </form>
</ion-content>
