<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-grid>
      <ion-row>
        <ion-col size="5">
          <ion-img src="assets/icon/logo1.png" ></ion-img>
        </ion-col>
        <ion-col size="7">
          Документы
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-xl  class="ion-align-self-center">
        <ion-tab-button tab="document/umkd">
          <img src="../../../assets/icon/icons8-literature-100.png">
          <p>УМКД</p>
        </ion-tab-button>
      </ion-col>
      <ion-col size="6" size-xl  class="ion-align-self-center">
        <a [href]="transcript_url" target="_blank">
        <ion-tab-button>
          <img src="../../../assets/icon/icons8-document-100.png">
          <p>Транскрипт</p>
        </ion-tab-button>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
