<ion-content>
  <ion-slides pager="true">

    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light">
        <img src="./../../../assets/icon/logo1.png">
        <h1>Привет. Я-Smart ATU</h1>
        <p> Меня создали в Алматинском технологическом университете, чтобы я помог обучающимися получить услуг прямо с телефона.</p>
        <ion-button (click)="next()" fill="outline" color="light">Вперед</ion-button>
      </ion-text>
    </ion-slide>

    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <img src="./../../../assets/icon/logo1.png">
        <h1>Как зарегистрироваться?</h1>
        <p>1. Нажимаете кнопку зарегистрироваться в окне входа.</p>
        <p>2. Запоняете поле Email (Ваш email можете посмотреть в системе UNIVER).</p>
        <ion-button (click)="start()" fill="outline" color="light">Начать</ion-button>
      </ion-text>
    </ion-slide>

  </ion-slides>
</ion-content>
