<ion-content>
  <ion-slides pager="true">

    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light">
        <img style="width: 95%" src="./../../../assets/icon/logo3.png">
        <h1 style="color:#1e2529; margin-top: 30%">Привет! Я-Smart ATU</h1>
        <p style="color:#1e2529; margin-bottom: 60%"> Меня создали в Алматинском технологическом университете, чтобы я помог обучающимся получить услуги прямо с телефона.</p>

        <ion-button (click)="next()" fill="outline" color="light">Вперед</ion-button>
      </ion-text>
    </ion-slide>

    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <img style="width: 95%" src="./../../../assets/icon/logo3.png">
        <h1 style="color:#1e2529; margin-top: 30%">Как зарегистрироваться?</h1>
        <p style="color:#1e2529">1. Нажимаете кнопку зарегистрироваться в окне входа.</p>
        <p style="color:#1e2529; margin-bottom: 47%">2. Запоняете поле Email (Ваш email можете посмотреть в системе UNIVER).</p>
        <ion-button (click)="start()" fill="outline" color="light">Начать</ion-button>
      </ion-text>
    </ion-slide>

  </ion-slides>
</ion-content>
