<ion-content>
  <ion-slides pager="true">

    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light">
        <img style="width: 95%" src="./../../../assets/icon/logo3.png">
        <h1 style="color:#1e2529; margin-top: 10%;">Сәлем!<br> Мен Smart ATU-мын</h1>
        <p style="color:#1e2529; margin-bottom: 20%;"> Мен Алматы технологиялық университетінде құрылдым. Менің мақсатым сізге телефоннан түрлі қызмет алуға көмектесу.</p>
        <h1 style="color:#1e2529; margin-top: 20%">Привет! Я-Smart ATU</h1>
        <p style="color:#1e2529; margin-bottom: 10%"> Меня создали в Алматинском технологическом университете, чтобы я помог обучающимся получить услуги прямо с телефона.</p>

        <ion-button (click)="next()" fill="outline" color="light">Алға / Вперед</ion-button>
      </ion-text>
    </ion-slide>

    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <img style="width: 95%" src="./../../../assets/icon/logo3.png">
        <h1 style="color:#1e2529; margin-top: 10%">Тіркелу жолы:</h1>
        <p style="color:#1e2529">1. Бастапқы бетте "Тіркелу" батырмасын басыңыз.</p>
        <p style="color:#1e2529; margin-bottom: 17%">2. Өзіңіз туралы ақпаратты толтырыңыз.</p>
        <h1 style="color:#1e2529; margin-top: 10%">Как зарегистрироваться?</h1>
        <p style="color:#1e2529">1. Нажмите кнопку зарегистрироваться в окне входа.</p>
        <p style="color:#1e2529; margin-bottom: 17%">2. Заполните личные данные.</p>
        <ion-button class="message" (click)="start()" fill="outline" color="light">Бастау / Начать</ion-button>
      </ion-text>
    </ion-slide>

  </ion-slides>
</ion-content>
