<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/document"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-grid>
        <ion-row>
          {{umkdText}}
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="expandItem(item)" *ngFor="let item of items">
    <ion-card-header>
      <ion-card-title>{{item.subject_name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-expandable expandHeight="1500px" [expanded]="item.expanded" *ngFor="let file of item.files">
        <ion-card-subtitle><a href="{{file.href}}" target="_blank" >{{file.title}}</a> </ion-card-subtitle>
      </app-expandable>
    </ion-card-content>
  </ion-card>
</ion-content>
